*{
  padding: 0;
  margin: 0;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around; /*alinhar na horizontal*/
  align-items: center;  /*alinhar na vertical*/
}

.child{
  width: 20%;
  height: 200px;
  background-color: rgba(31, 184, 223, 0.815);
  border: 1px solid black;
}